<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificador de Precios</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div class="background">
        <img src="./src/spinner.gif" alt="" width="200px" height="200px">
    </div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Verificador de precios</a>
        </nav>
    </header>
    <div class="container-fluid text-center" id="app">
        <div class="row align-items-center">
            <div class="col-md-3" id="scanner" style="padding: 5% 1%;">
                <button v-if="scannerVisible" class="btn btn-danger" style="margin-top: 3%;" @click="stopScanner">Detener</button>
                <div id="container-escaner" class="text-center">
                    <div id="lector">
                        <div v-if="scannerVisible" id="laserImage"></div>
                    </div>
                    <div v-if="!scannerVisible" id="imageCodigo"></div>
                    <div v-if="!scannerVisible" id="escaner">
                        <div class="laser"></div>
                    </div>
                    <button v-if="!scannerVisible" class="btn btn-outline-danger" id="btn-scanear" @click="activateScanner">Escanear</button>
                </div>
                <canvas></canvas>
            </div>
            <div class="col-md-9 view" id="cardContainer">
                <div id="producto" class="card text-center">
                    <div v-if="imageCode" id="imageBarra">
                        <div class="h2" id="codeActual">{{codigoActual}}</div>
                    </div>
                    <div class="h2" id="nombre-producto">{{name}}</div>
                    <div class="divider"></div>
                    <div class="h1" id="precio">Precio: ${{precio}}</div>
                    <div class="divider"></div>
                    <div class="h3" id="description">{{description}}</div>
                </div>
            </div>
        </div>
        
        <!-- Modal para la configuracion de sucursal -->
        <div class="modal fade" id="modalConfigSuc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Configurando sucursal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="sucursal">Sucursal:</label>
                        <select id="sucursal" class="form-control" v-model="sucursalSelected">
                            <option value="0">Seleccione sucursal...</option>
                            <option value="1">Victoria</option>
                            <option value="2">Zaragoza</option>
                            <option value="3">Oluta</option>
                            <option value="4">Bodega</option>
                            <option value="5">Jaltipan</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="password">Clave de seguridad:</label>
                        <input id="password" class="form-control" type="password" v-model="textPass">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal" @click="verifyPassword()">Aceptar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="alert alert-primary mb-0 position-fixed" role="alert" style="bottom: 0px; width: 100%; height: 55px;">
            <span id="ConexionTo">Conexion a Zaragoza</span>
            <button class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#modalConfigSuc">Config</button>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./js/index.js"></script>
    
    <script src="https://unpkg.com/quagga@0.12.1/dist/quagga.min.js"></script>
    <script  src="./js/lector.js"></script>

    <script> var sound = new Audio("./src/beep6.mp3")</script>
    <script>
        $(document).ready(function (){
            let letras = "";
            $(window).bind({
                paste: function(e) {
                    letras =  e.originalEvent.clipboardData.getData('text'); 
                    console.log("Valor: ",letras);
                }
            });
            $(window).keypress(function(e) {
                var code = (e.keyCode ? e.keyCode : e.which);
                if(code==13){
                    if (app.sucursalSelected === 0) {
                        alert("No selecciono una sucursal");
                        return;
                    }
                    // app.setDatosActuales(letras);
                    letras = "";
                }
                letras += e.key;
                console.log(letras);
            });
        });
    </script>
</body>
</html>