<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificador de Precios</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="shortcut icon" href="./src/logo.png">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <script type="text/javascript">
        $(window).on("load", function() {
            $(".background").hide(2000);
        });
    </script>
    <div class="background modal-dialog-centered">
        <img src="./src/spinner.gif" alt="" width="200px" height="200px">
    </div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Verificador de precios</a>
            <div class="btn-group float-right" role="group">
                <input id="search" class="form-control" type="search" placeholder="*nombreProducto*">
                <button class="btn btn-info" type="button" onclick="app.searchProduct()">Buscar</button>
                <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#modalListProducts" id="abrirReg">Abrir</button>
            </div>
        </nav>
    </header>

    <!-- class="invisible" -->
    <button class="invisible" id="activateAlert" data-toggle="modal" data-target="#alertDialog">Alert</button>

    <div class="container-fluid text-center" id="app">
        <div class="row align-items-center">
            <div class="col-md-3" id="scanner" style="padding: 5% 1%;">
                <button v-if="scannerVisible" class="btn btn-danger" style="margin-top: 3%;" @click="stopScanner">Detener</button>
                <div id="container-escaner" class="text-center">
                    <div id="lector">
                        <div v-if="scannerVisible" id="laserImage"></div>
                    </div>
                    <div v-if="!scannerVisible" id="imageCodigo"></div>
                    <div v-if="!scannerVisible" id="escaner">
                        <div class="laser"></div>
                    </div>
                    <button v-if="!scannerVisible" class="btn btn-outline-danger" id="btn-scanear" @click="activateScanner">Escanear</button>
                    <canvas></canvas>
                </div>
            </div>
            <div class="col-md-9 view" id="cardContainer">
                <div id="producto" class="card text-center">
                    <div class="h2" id="nombre-producto">{{name}}</div>
                    <div class="divider"></div>
                    <div class="h1" id="precio">Precio: ${{precio}}</div>
                    <div class="divider"></div>
                    <div class="h3" id="description">{{description}}</div>
                    <div v-if="imageCode" id="imageBarra">
                        <div class="h2" id="codeActual">{{codigoActual}}</div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal para la configuracion de sucursal -->
        <div class="modal fade" id="modalConfigSuc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Configurando sucursal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="sucursal">Sucursal:</label>
                        <select id="sucursal" class="form-control" v-model="sucursalSelected">
                            <option value="0">Seleccione sucursal...</option>
                            <option value="1">Victoria</option>
                            <option value="2">Zaragoza</option>
                            <option value="3">Oluta</option>
                            <option value="4">Bodega</option>
                            <option value="5">Jaltipan</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="password">Clave de seguridad:</label>
                        <input id="password" class="form-control" type="password" v-model="textPass">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal" @click="verifyPassword()">Aceptar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                </div>
            </div>
        </div>
        
        <!-- Modal para listado de productos -->
        <div class="modal fade" id="modalListProducts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Productos encontrados</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group" style="height: 250px; overflow: auto;">
                            <div v-if="alertVisible == true" class="alert alert-warning" role="alert">
                                    {{mssgAlert}}
                            </div>

                            <div v-for="product in products" class="row border mb-2 cardProduct" v-bind:class="{'cardActivated': (cardSeleccionado === product.Articulo)}" @click="selectCard(product.Articulo, product.Nombre)">
                                <div class="col-sm-3 h4 leftCard" style="border-right: 1px solid #575757;">
                                    <div class="mt-4 text-danger">
                                        {{product.Precio}}
                                    </div>
                                </div>
                                <div class="col-sm-9 pr-4 pl-4 rightCard">
                                    <div class="row h5 text-left">
                                        {{product.Nombre}}
                                    </div>
                                    <div class="row h6 float-right articulo">
                                        {{product.Articulo}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-left">
                            <label for="seleccionado">Seleccionado:</label>
                            <div class="alert alert-info" role="alert">
                                <span style="text-decoration: underline;">{{cardSeleccionado}}</span> - 
                                {{textCardSelected}}
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal" @click="loadProduct(cardSeleccionado)">Ampliar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para mensajes en forma de alert -->
        <div class="modal fade" id="alertDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-warning">
                        <img class="float-left mr-3" src="./src/warning-white.png" alt="" width="30px">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{titleAlert}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-justify">
                        <p>{{messageAlert}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="alert alert-primary mb-0 position-fixed" role="alert" style="bottom: 0px; width: 100%; height: 55px;">
            <span id="ConexionTo">Conexion a Zaragoza</span>
            <button class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#modalConfigSuc">Config</button>
        </div>
    </footer>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./js/index.js"></script>
    
    <script src="https://unpkg.com/quagga@0.12.1/dist/quagga.min.js"></script>
    <script  src="./js/lector.js"></script>

    <script src="./js/round.js"></script>

    <script>var sound = new Audio("./src/beep6.mp3");</script>
    <script>
        $(document).ready(function (){
            let letras = "";
            $(window).bind({
                paste: function(e) {
                    letras =  e.originalEvent.clipboardData.getData('text'); 
                    console.log("Valor: ",letras);
                }
            });
            $(window).keypress(function(e) {
                var code = (e.keyCode ? e.keyCode : e.which);
                if(code==13){
                    if (letras === "") return;
                    if (app.sucursalConnected === "ND") {
                        app.showAlertDialog("No selecciono una sucursal");
                        // alert("No selecciono una sucursal");
                        return;
                    }
                    app.setDatosActuales(letras);
                    letras = "";
                }
            });
        });
    </script>
</body>
</html>